@using DatingApp.Common
@using DatingApp.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        <div class="dropdown">
            <img src="/assets/user.png" style="max-height: 50px; border: 2px solid #fff; display: inline;">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Welcome @(this.User.Identity.Name)
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <a class="dropdown-item" asp-controller="Users" asp-action="MyProfile">Edit Profile</a>
                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-area="Administration" asp-controller="Dashboard" asp-action="Index">Admin panel</a>
                }
                <div class="dropdown-divider"></div>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
                    <button type="submit" class="dropdown-item">Logout</button>
                </form>
            </div>
        </div>

        @*<div class="dropdown">
                <img src="/assets/user.png" style="max-height: 50px; border: 2px solid #fff; display: inline;">
                <a class="dropdown-toggle text-light ml-2" dropdownToggle>Welcome @(this.User.Identity.Name)</a>
                <div class="dropdown-menu mt-3">
                    <a class="dropdown-item">Edit Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item">Logout</a>
                </div>
            </div>*@

        @*<li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @(this.User.Identity.Name)!</a>
            </li>
            if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Admin</a>
                </li>
            }
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>*@
    }
</ul>
