@model UserViewModel

<div class="row">
    <div class="col-4">
        <div class="card">
            <img src="@Model.PhotoUrl" alt="@Model.Allias"
                 class="card-img-top img-thumbnail">
            <div class="card-body">
                <div class="mb-2" *ngIf="(presence.onlineUsers$ | async).includes(member.username)">
                    <i class="fa fa-user-circle text-success"></i> Online now
                </div>
                <div>
                    <strong>Location:</strong>
                    <p>@Model.City, @Model.Country</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>@Model.Age</p>
                </div>
                <div>
                    <strong>Last Active:</strong>
                    <p>@Model.LastActive</p>
                </div>
                <div>
                    <strong>Member since:</strong>
                    <p>@Model.CreatedOn</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary">Like</button>
                    <button class="btn btn-success">Message</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-8">
        <tabset class="member-tabset" #memberTabs>
            <tab heading="About @Model.Allias">
                <h4>Description</h4>
                <p>@Model.AboutMe</p>
                <h4>Looking for</h4>
                <p>@Model.LookingFor</p>
            </tab>
            <tab heading="Interests">
                <h4>Interests</h4>
                <p>@Model.Interests</p>
            </tab>
